<script type="text/javascript">

$(document).ready(function ()
  {
    $("#dragon").draggable();
    $("#dragon2").draggable({revert: true});
  }
);

</script>
drags
<div id="dragon">
<h1>Listing messages</h1>
<%=image_tag "duck.jpg", :height => 50%>
</div>

<div id="dragon2">
<h1>Listing messages2</h1>
</div>

=<%=Myservice::Application.config.faye_url%>
<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.content %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Message', new_message_path %>
