<script type="text/javascript">
  
  $(document).ready(function ()
    {
      //alert('xx');
      $('#select_customers').change(function()
        {
          // alert('x');
          //$('#textbox_customers').text('xx');
          $('#textbox_customers > input').val('xx');
        }
      );
    }
  );
  
  
</script>

<h1><div>Request new service</div></h1>

<%=form_tag({:controller=>'login', :action=>'signup'}) do %>
<div>
<span><%=label_tag 'service name' %></span>
<span><%=text_field :service, :name %></span>
</div>
<div>
<span><%=label_tag 'description' %></span>
<span><%=text_field :service, :description %></span>
</div>
<div>
<span><%=label_tag 'customer' %></span>
<span id="textbox_customers"><%=text_field :service, :customer %></span>
<span id="select_customers"><%=select_tag "customers", options_from_collection_for_select(@customers, "id", "name") %></span>
</div>
<div>
<span><%=label_tag 'Completion Date' %></span>
<span><%=date_select("article", "completion_date") %></span>
</div>
<%= submit_tag("SignUp") %>
<% end %>